/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* 

body {
    position: relative;
    width: 100vw;;
    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
   
} */


.bot-container {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 400px;
    /* height: 600px; */
    height: 90%;
    max-height: 600px;
    /* box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16); */
    box-shadow: 0 5px 40px #ffffff5e;
   
    border-radius: 8px;
    overflow: hidden;

    transition: all .5s;
    opacity: 10;
    z-index: 200000;

    background-color: #fff;
}

.bot-container .container {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-rows: 12% auto 10%;

}

.chat-details {
    background-color: var(--skin-color);
    padding: 6px 20px;
    
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.chat-icon {
    width: 50px;
    height: 50px;
    background-color: rgba(244, 241, 241, 0.283);
    
    display: inline-block;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}


.chat-icon-logo {
    object-fit: cover;
    float: left;
}

.chat-icon-logo p {
    animation: rotate 2s linear infinite;
    font-size: 12px;
    font-weight: 400;
}

.chatbot-detail-description {
    padding: 0 0 0 0;
    
}

.chatbot-name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
}

.chatbot-desctiption {
    font-size: 14px;
    font-weight: 300;
}

.icon {
    /* background-color: gray; */
}

.icon button {
    background-color: inherit;
    color: #fff;
    padding: 6px 12px;
   
    font-size: 22px;
    font-weight: 600;
    /* border: 1px solid rgba(244, 241, 241, 0.283); */
    /* border-radius: 50%; */
}

.icon button:hover  {
    color: #fff;
    transform: scale(1.1);
}



/* chat container */

.chat-box {
    /* max-height: 100%; */
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.chat-box .user,
.chat-box .bot {
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 1.5;
    max-width: 90%;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 10px;
}


.chat-box .user {
    background-color: var(--skin-color);
    color: #fff;
   align-self: flex-end;
   margin-right: 7px;
  
}

.chat-box .bot {
    background-color:#dfe3e8;
    color: #000000;
    align-self: flex-start;
    margin-left: 7px;
}

.qr a {
    display: inline-block;
    color: inherit;
    background-color: #dfe3e8;
    padding: 0.5625rem 1rem;
    border-radius: 16px;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-top: 2px;
}

.qr a:hover {
    background-color: var(--skin-color);
    color: #fff;
}

.text-area {
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-top: 1px solid #ccc;
    
}


.text-area input {
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
}


input,button {
    border: 0;
    outline: 0;
}

.text-area button {
    background-color: inherit;
    transition: all .3s ease;
    font-size: 16px;
}

.text-area button:hover {
    background-color: var(--skin-color);
    color: #fff;

}


.hide {
    display: none !important;
}

.show {
    display: block;
}


/* widget */

.pilotXpert-widget {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    font-size: 22px;

    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: var(--skin-color);

    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 5px 40px #ffffff5e; */
    /* box-shadow: var( --skin-background); */
    opacity: 1;
    z-index: 2;

    animation: bounce 2s infinite;
    /* animation: rotate 2s linear infinite; */
}

.pilotXpert-widget:hover {
    box-shadow: var( --skin-background);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


.pilotXpert-widget p {
    animation: rotate 2s linear infinite;
    font-weight: 600;
    color: #fff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.online {
    width: 7px;
    height: 7px;
    background-color:#50b83c;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
  
    bottom: 3px;
    right: 5px;
}





@media (max-width: 549px) {

    .bot-container {
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
    }

}
